@model IEnumerable<cine_go_mvc.Models.Pelicula>

@section Styles {
    <link rel="stylesheet" href="~/css/pelicula.css" />
}

@{
    ViewData["Title"] = "Peliculas";
}

<h1 class="text-center fw-bold text-uppercase border-bottom pb-2 mb-4">Películas</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar Nueva Pelicula</a>
</p>
<!-- DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
<div class="table-responsive">
    <table id="peliculasTable" class="table table-striped table-bordered text-center align-middle">
        <thead class="table-active">
            <tr>
                <th class="text-center">
                    Imagen
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Titulo)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Genero)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Plataforma)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@item.PosterUrlPortada" height="50px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genero.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plataforma.Nombre)
                    </td>
                    <td>
                        <div class="d-flex flex-wrap justify-content-center gap-1">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Modificar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-secondary">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-3fp9jQkG+6Gk2f0J3Fv8NQY1qM2a2a9g9+Y+8m5ZV+8=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
        $('#peliculasTable').DataTable({
        language: {
        url: "//cdn.datatables.net/plug-ins/1.13.6/i18n/es-ES.json"
        },
        columnDefs: [
        { targets: [0, 4], orderable: false}
        ],
        order: [[1, 'asc']]
        });
        });
    </script>
}
